<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind CSS</title>
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/custom.css" rel="stylesheet">
    <link href="../assets/js/main.js" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body class="bg-black">
    <div id="mainContent" class="flex justify-center">
        <div class="w-full max-w-sm min-h-screen bg-white flex flex-col">
            <!-- Header with Icon and Text -->
            <div class="sticky top-0 left-0 w-full py-3 px-10 bg-blue-600 flex items-center">
                <a href="../index.html">
                    <i class="fa fa-chevron-left text-white"></i>
                </a>
                <div class="flex-grow flex justify-center items-center">
                    <p class="font-bold text-white">Mobile Template</p>
                </div>
            </div>
            <div class="p-4 flex-grow">
                <!-- Start Layout Konten -->
                <div class="mb-6 text-center pt-5">
                    <p class="font-bold text-xl text-blue-600">Alert</p>
                    <small><i>Diperbarui Pada 19-07-2024 23:36</i></small>
                </div>

                <!-- End Layout Konten -->
            </div>
            <div class="sticky bottom-0 bg-gray-800 text-white">
                <div class="flex justify-between p-4">
                    <a href="#" class="hover:text-gray-400">Menu 1</a>
                    <a href="#" class="hover:text-gray-400">Menu 2</a>
                    <a href="#" class="hover:text-gray-400">Menu 3</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>