.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.modal-alert-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.modal-alert-content {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.modal-alert-hidden .modal-alert-overlay {
    opacity: 0;
}
.modal-alert-hidden .modal-alert-content {
    opacity: 0;
    transform: scale(0.95);
}